[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

kubernetes = "*"
asyncssh = "*"
ptyprocess = "*"
escapism = "*"
traitlets = "*"


[dev-packages]

pylint = "*"
pytest = "*"


[requires]

python_version = "3.6"
